@import "tailwindcss";

@theme {
  --color-brand-blue: #0EA5E9;
  --color-brand-yellow: #FACC15;
  --color-brand-green: #22C55E;
  --color-brand-red: #EF4444;

  --font-display: "Outfit", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}